* {
    margin: 0;
}

html {
    background-color: black;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: monaco;
    color: white;
    text-align: center;
}

a, a:visited {
    color: lime;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 50px;
}

