* {
    margin: 0;
}

html {
    background-color: black;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: monaco;
    color: white;
    text-align: center;
}

footer a, a:visited {
    color: lime;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

header {
    margin-top: 50px;
    background: url('/static/img/logo128.png') no-repeat;
    text-align: justify;
    height: 128px;
    padding-left: 128px;
    padding-top: 80px;
}

header h1 {
}

footer {
    position: absolute;
    bottom: 0px;
    margin-left: 340px;
    width: 20em;
    padding-bottom: 1em;
}

